[2015-12-15 20:40] petermeissner opened #1 "Get R6 class documentation right"
Check complaints aboout documentation of robotstxt class. has to be fixed.
e.g.: https://github.com/Ermlab/lightning-rstat/blob/master/LightningR/R/lightning.R

[2015-12-16 09:14] petermeissner opened #2 "add other fields to parse_robotstxt()"
at the moment `parse_robotstxt()` extracts:

- useragents
- comments
- peremissions
- sitemap

but not

- possible other fields

include all other fields in `other`.

[code]

[2015-12-16 22:10] #2 closed

[2016-01-09 09:52] petermeissner commented on #1
-done-

[2016-01-09 09:52] #1 closed

[2016-01-11 20:42] simonmunzert opened #3 "Error when calling rt$check"
Trying to reproduce the example code provided in ?robotstxt, the following line throws an error:

rt$check( paths = c("/", "forbidden"), bot="*")
Error in stri_replace_first_regex(string, pattern, replacement, opts_regex = attr(pattern,  :
  object 'tmp' not found

This happens regardless of the domain (I tried google.com and wikipedia.org).

[2016-01-11 20:45] simonmunzert opened #4 "Package installment"
The installment of additional pacakges (curl, digest and jsonlite in my case) collides with already installed packages:

Downloading GitHub repo petermeissner/robotstxt@master
Installing robotstxt
Installing 3 packages: curl, digest, jsonlite
package ‘curl’ successfully unpacked and MD5 sums checked
Warning: cannot remove prior installation of package ‘curl’
package ‘digest’ successfully unpacked

[2016-01-11 21:03] #3 closed

[2016-01-11 21:26] petermeissner commented on #4
Hmmm,

I checked the package again locally, via win_build and installed it from Github without any problems.

- have you tried updating your packages prior to installation?
- did you install from a clean -- freshly started; no default packages loaded; no other R-sessions running -- R-session? [e.g.](http://stackoverflow.com/questions/26570912/error-in-installation-a-r-package)

[2016-01-12 07:45] simonmunzert commented on #4
Still o R 3.2.2 and no package updates prior to the package installation, but this should not be a requirement, right?
However, after reinstalling the packages, it worked (but then see issue #3). I'm gonna try again today.

[2016-01-12 08:34] petermeissner commented on #4
I do not get this on my Linux machine. But I get it with Windows / Rstudio ...

**Manually install the packages that complain.**

I tried but got:

[code]

I did:
[code]

RStudio did:
[code]

**some further thoughts**

I do not think you need R 3.2.3 to get this work. But robotstxt demands stringr (>= 1.0.0) and httr (>= 1.0.0) which are quite new and should themselves ask for newer versions of di

[2016-01-19 11:00] #4 closed

[2016-03-20 14:01] petermeissner opened #5 "get_robotstxt redponse to HTTP errors"
https://github.com/ropensci/onboarding/issues/25 by @richfitz

[2016-03-20 14:07] petermeissner opened #6 "dropping R6 dependency and use list implementation instead"
ropensci/onboarding#25 by @richfitz

[code]

[2016-03-20 14:10] petermeissner opened #7 "use memoise caching approach"
ropensci/onboarding#25 by @richfitz

[code]

[2016-03-20 14:11] petermeissner opened #8 "do not use httr::content(rtxt)"
ropensci/onboarding#25 by @richfitz

[2016-03-20 14:12] petermeissner opened #9 "do not use missing for parameter check"
ropensci/onboarding#25 by @richfitz

[2016-03-20 14:13] petermeissner opened #10 "partial match useragent / useragents"
ropensci/onboarding#25 by @richfitz

[2016-03-20 21:02] petermeissner opened #11 "declare encoding="UTF-8""
ropensci/onboarding#25 by @richfitz

[2016-03-20 21:13] #11 closed

[2016-03-20 21:23] #8 closed

[2016-03-20 21:25] petermeissner commented on #5
- 404 -> yes that should be the interpretation

[2016-03-20 21:52] #5 closed

[2016-03-21 08:02] petermeissner commented on #10
thats right and no good

[2016-03-21 08:03] petermeissner commented on #11
1 out of 10 problems is related to encodings

[2016-03-21 08:21] #10 closed

[2016-03-21 17:00] petermeissner commented on #9
... hmmm, to prevent the function using an object from outside the function - right. good idea.

[2016-03-21 17:02] #9 closed

[2016-03-22 13:17] petermeissner commented on #7
Caching of robots.txt file downloads is a very good idea - those things should not change within a sessions time.

But, I did not put the caching in path allowed but in `get_robotstxt()` because that is the place where the download is supposed to happen.

[2016-03-23 22:39] #6 closed

[2016-03-23 22:39] #7 closed

[2016-04-26 08:54] petermeissner opened #12 "Fix documentation errors"
https://github.com/ropensci/onboarding/issues/25 by @sckott

[code]

[2016-04-26 14:22] #12 closed

[2016-12-05 19:46] sckott opened #14 "tell us what changes were made in new releases to cran"
can you please list what changes were made with each new release to cran

e.g., looking at https://github.com/ropenscilabs/robotstxt/compare/CRAN-v0.1.2...v0.3.2?w=1 I see what I think are lots of changes, and they aren't mentioned in NEWS or in releases here.

something like this https://github.com/hadley/dplyr/releases/tag/v0.5.0 is a good example

[2016-12-05 20:26] petermeissner commented on #14
Uh, I will take some minutes this week and fill in the blanks.

[2016-12-10 20:41] petermeissner commented on #14
done (as good as possible 6 months after last looking at the code base): https://github.com/ropenscilabs/robotstxt/commit/6f146bb2f3e635bac8772fd6cf7d33e8054aa014

[2016-12-10 20:41] #14 closed

[2017-07-03 12:41] petermeissner opened #16 "possible problem permission check"
this seems to be wrong (mentioned by @simonmunzert ):

[code]

[2017-07-05 14:25] petermeissner commented on #16
ok, it seems I found the problem ...

http://facebook.com/robots.txt
https://facebook.com/robots.txt

Do not exist. Hence robotstxt does follow (kind of correctly) the convention: not file no disallows

[code]

Now, things are more complicated than that:

- There is a HTTP 301 redirect to www.facebook.com
- robotstxt does not act on this redirect

... to be continued

[2017-07-05 14:53] petermeissner commented on #16
hmmm,

facebook does not like robots .... it seems to dislike them so much that they do not even get a real robots.txt file:

[code]

[2017-07-05 16:00] petermeissner commented on #16
hmmm,

 the redirect is handled just fine by httr::GET, but the user agent is not accepted:

[code]

[2017-07-08 21:28] petermeissner commented on #16
Should be fixed with b6eac3689568e0cada8400ee5cf63151a74c3e2f

... the package now checks if the file used for determining permissions confirms to the robots.txt standard and will stop and complain if its no valid robots.txt - like in the case of facebook

[2017-07-08 21:28] #16 closed

[2017-07-08 21:29] petermeissner commented on #16
... the practical problem of not geting a real robots.txt file in the first place remains - though.

[2017-07-15 11:37] petermeissner commented on #16
Version 0.4.0 now allows user to set specific user-agents.

So, when you get something like that:
[code]

... you can do the following to get something reasonable anyways

[code]

[2017-07-15 13:00] petermeissner commented on #16
This works as well:

[code]

[2017-08-12 13:33] hrbrmstr opened #18 "Possible logic/regex error with `paths_allowed()`"
(explanation follows)

[code]

Via: https://technicalseo.com/seo-tools/robots-txt/

![image](https://user-images.githubusercontent.com/509878/29241050-93a28894-7f3f-11e7-940e-ebabc9757beb.png)

And:

[code]

I was prepping a blog post to introduce a function that would prefix an `httr::GET()` request with a robots.txt path check (which is part of a larger personal project I'm working on). As you c

[2017-08-14 17:06] petermeissner commented on #18
Hey,
thanks for reporting ...

I just had a quick look at your example and I think there is a bug in robotstxt but I cannot point my finger to it. Robots.txt retrieval seems to work but there are too many restrictions:

[code]

... looks like some recycling of values when creating the permission data.frame gone wild -- maybe.

[2017-08-14 19:04] hrbrmstr commented on #18
I threw this — https://github.com/hrbrmstr/rep — together since the library it wraps is a pretty decent one, insofar as parsing & testing goes. (I wasn't sure if you'd want a C++-11 dependency in `robotstxt`…if so, I can add some error checking  see about making this be an invisible addition to `robotstxt`-proper).

[2017-08-14 19:28] hrbrmstr commented on #18
(just a follow-up) I had some cycles so I added appveyor checks and lo and behold it works on Windows as well as macOS and Linux (so x-platform won't be an issue).

[2017-08-14 19:33] petermeissner commented on #18
1) I had a deeper look and could reproduce / isolate the error - there is an issue with "\r\n"-line ending although I do not really get why - yet
2) The cdc.gov/robots.txt is included within the package and has two simple tests

[2017-08-14 19:36] hrbrmstr commented on #18
oh, cool! #ty for the fix (and I'm glad it wasn't too gnarly)

[2017-08-14 19:36] petermeissner commented on #18
3) I do not mind a C++-dependency IF it's worth the additional dependency ...

If you think this is solid, reasonably easy to integrate and a little more battle tested than go ahead

[2017-08-14 19:37] petermeissner commented on #18
I reopened because it is still not fixed and I will not have time to do so today.

[2017-08-14 19:38] hrbrmstr commented on #18
I'll whip up a proposed implementation for it in an updated fork and shoot a link when it's done.

[2017-08-14 21:03] hrbrmstr commented on #18
Just a note why I started looking at a C++ impl:

[code]

~6 microseconds is kinda sweet and if I vectorize at C++-level then it'll still be pretty fast.

[2017-08-15 11:39] petermeissner commented on #18
nice - also  robotstxt depends on stringr and httr, so it is not exactly lightweight - anyways

[2017-08-16 19:38] petermeissner opened #19 "Integration of rep package / C++ robots.txt parsing"

[2017-08-16 19:38] petermeissner commented on #19
moved here from #18 to get things separated

[2017-08-16 19:41] petermeissner commented on #18
I am 99.99 percent sure that actually www.cdc.gov 's robotstxt is not valid - there shall be no empty lines except above user-agent fields.

I'm still not sure how to best handle this edge case.

[2017-08-20 04:44] #18 closed

[2017-08-20 05:34] petermeissner commented on #18
I found the problem ... the file is valid but my function did not handle '\r\n' line endings end got confused.

[2017-08-27 08:52] petermeissner commented on #19
@hrbrmstr

I fixed the problem and will now release the fixed version to CRAN.

However I would still be interested in integrating / using the rep package within robotstxt.

- rep provides fast permission checking, given that it is provided with the content of a robots.txt file - right?
- rep does not provide any download functionality - right?
- rep does not provide access to the data contained w

[2017-09-11 19:00] sckott opened #20 "Please use git tags and releases"
hi 👋

We want all rOpenSci pkgs to consistently keep track of changes. You already use NEWS.md, thanks for that. Please also do the following:

- git tag each CRAN version - you've git tagged some, but not all cran versions. To git tag commits for previous CRAN versions, you can find the commit, then do e.g., `git tag -a v1.2 9fceb02` where `9fceb02` is the commit sha
- use the [releases tab](http

[2017-10-20 22:48] petermeissner commented on #20
jip, will do / have done.

[2017-10-20 22:48] #20 closed

[2017-11-20 23:58] sckott opened #21 "use release notes"
Hi @petermeissner can you put your NEWS items in your release notes https://github.com/ropenscilabs/robotstxt/releases - looks like you were doing it before but haven't in the last few. thanks

[2017-11-21 05:29] petermeissner commented on #21
Thanks for keeping an eye on repo quality ...

I did not draft a release for version v0.5.2 yet - that has been done now and the notes from the NEWS file are included.

The other 'releases' in between are merely version tags and I will not add any text to them.

[2017-11-21 05:29] #21 closed

[2018-01-28 20:32] petermeissner opened #22 "Overhaul robots.txt interpretation"
**Background**
- https://github.com/hrbrmstr/spiderbar/issues/2
- https://github.com/seomoz/rep-cpp/issues/33

**Actions**
- use spiderbar/rep-cpp as default check method
- re-work checking to match interpretation of spiderbar/rep-cpp (or drop it altogether ? )

[2018-02-10 23:08] #22 closed

[2018-04-06 07:42] Melissa37 opened #23 "10.7554/ELIFE.09944/ROBOTS.TXT"
Hi there

I was checking through our recent Crossref failures report and found this: 10.7554/ELIFE.09944/ROBOTS.TXT

It had 115 entries for the eLife prefix that did not resolve. This is not a DOI :-)

I thought you'd be interested in case it is something to do with this code as it is suffixed with "ROBOTS.TXT".

Sorry if this is nothing to do with you, but I thought I'd check!

Melissa
(eLife)

[2018-04-06 09:31] petermeissner commented on #23
Thanks for reporting!

I will have a look these days.

[2018-04-10 19:26] petermeissner commented on #23
Hey, I just had time to come back to this. I seem to not get what the problem is. Could you walk me through a little?

Did you try to scrape your site?
Did other people scrape your site?
What is "10.7554/ELIFE.09944/ROBOTS.TXT" is this a file somewhere?

I am currently lost on this.

[2018-04-11 20:00] Melissa37 commented on #23
Crossref is a Digital Object Identifier (DOI) registry. We use them to register DOIs for our journal, eLife. They send me reports that identify searches using our journal prefix "10.7554/ELIFE". This string was used 115 times and so I was informed there were 115 DOI failures.

It's common to see failures for clearly mistyped DOIs, eg: 0.7554/ELIFE.09944. or 0.7554/ELIFE.09944)

This caught my eye

[2018-04-12 14:26] petermeissner commented on #23
Ah, thanks for walking me through ... now I think I get it.

My guess is that bots are hitting your service and are trying to get the robots.txt file to get some directions on which pages are ok to access and which not. The thing is though that it does not really make sense because robots.txt should be placed at the root of a page and not somewhere within the folder structure - e.g. bots should lo

[2018-05-14 14:46] tklebel opened #24 "future_lapply() in future package is deprecated"
`get_robotstxts("https://google.com", use_futures = T)` gives a warning with version `1.8.1` of `future`:

[2018-05-14 15:02] petermeissner commented on #24
Nice, thanks. ... Everything should work fine since it's only deprecated
not gone. I will look into this or appreciate a pull request.

Best, Peter

Thomas Klebel <notifications@github.com> schrieb am Mo., 14. Mai 2018,
16:46:

[2018-05-14 15:15] tklebel commented on #24
Yep, just wanted to notify you of the warning. It seems to me that simply adding `future.apply` as an import and changing this line: https://github.com/ropenscilabs/robotstxt/blob/8b48acc7ccb617308e7ed288840fd7bdb76cc6d2/R/get_robotstxts.R#L61

should resolve the issue.
However, I'm not familiar with the futures package, and since those lines are not covered by a test, I'd rather not change it mys

[2018-05-14 15:18] petermeissner commented on #24
:-)

Thomas Klebel <notifications@github.com> schrieb am Mo., 14. Mai 2018,
17:15:

[2018-05-16 09:49] maelle opened #25 "transfer to ropensci"
:wave: @petermeissner! we no longer transfer onboarded packages to ropenscilabs but instead directly to ropensci so we should move this repo. Are you ok with my doing it? If so when would you have the time to update all links? I wouldn't transfer before you have time to do that, and it's not urgent to transfer anyway.

If possible could you please add this badge to the README of rnaturalearth when

[2018-05-23 21:27] petermeissner commented on #25
I am definitely more than ok with moving to ropensci.

- All links? From the Readme?
- Something else?

I will look into this some day within the next week.

[2018-05-23 21:36] maelle commented on #25
Cool thanks!

Only DESCRIPTION and README I think! ☺

[2018-05-30 09:41] petermeissner commented on #25
Hey, sorry it took so long to come back on this - move it whenever you have time I shall be able to adjust links and the like within one day or less.

[2018-05-30 09:47] maelle commented on #25
Transferred! And I made you admin (again?).

[2018-05-30 09:49] maelle commented on #25
I've just added a few topics to the repo, please review.

[2018-05-30 19:26] petermeissner commented on #25
Perfect, thanks for your efforts.

All links in DESCRIPTION and README should be up to date.

- so, I close this

[2018-05-30 19:26] #25 closed

[2018-05-30 19:43] maelle commented on #25
Thanks! 😀

[2018-07-07 14:58] HenrikBengtsson commented on #24
FYI, I'm about to release future 1.9.0 where this will break with:

[code]

[2018-07-07 21:16] petermeissner commented on #24
Thanks, what's the timetable?

Henrik Bengtsson <notifications@github.com> schrieb am Sa., 7. Juli 2018,
16:58:

[2018-07-18 11:56] HenrikBengtsson commented on #24
FYI, I'm getting ready to submit future 1.9.0 to CRAN.

[2018-07-19 11:18] petermeissner commented on #24
Thank you all for letting me know - its adjusted and on CRAN.

[2018-07-19 11:18] #24 closed

[2018-07-19 11:22] HenrikBengtsson commented on #24
Yes, thxs. And it now passes future's revdep tests - https://github.com/HenrikBengtsson/future/commit/9f67c57978526056dcc79b9602c155a7e365ec3e

[2018-07-26 21:19] dmi3kno opened #27 "Second level domains and HTTP redirects"
I wonder how robotstxt deals with redirects
[code]
Couple of questions:
- How do we handle redirects? A simple GET would indicate that we're looking in the wrong place. Should we warn the user and get the redirected robots.txt instead? Anyway better than rendering html header...
- What happens if robots.txt is not delegated to second-level domain? Clearly github.com has its very proper robots.txt,

[2018-07-28 09:41] dmi3kno opened #28 "Incomplete paths"
Just wonder if this is expected behavior that `robotstxt` does not seem to be able to check incomplete path (i.e. path without ending `/`)?
[code]
From the point of view of the user wikipedia.org/w is perfectly valid url.

[2018-08-22 19:12] petermeissner commented on #28
Hey, thanks for the the thoughts and please excuse the late response ...

I have given that some thought and I think w and w/ are actually different things. Somtimes both might refer to a folder but this is more like a special case with some convenience suger on top.

On my Linux machine I a not allowed to create both a folder and a file with the very same name BUT e.g. on my Windows machine this

[2018-08-22 19:15] petermeissner commented on #27
Thanks for writing in ... just to let you know that I will come back to this ... but it might take some more days.

[2018-08-22 19:40] dmi3kno commented on #28
I think it is a reasonable answer, but I would like this to be more explicit in the documentation. Would you like a PR with suggestion to improve documentation?

[2018-09-03 20:56] petermeissner commented on #27
Okay, okay, okay ... so many questions ...

*First*, we should make clear that these examples and questions are quite a number of questions.

*Second*, those questions might have answers that are completely unrelated.

*Third*, we should single out separate questions and tackle them one by one.

# Question 1: How to handle redirects?
*Example: github.io/robots.txt*

Requesting for github.io/robots

[2018-09-04 06:32] petermeissner opened #30 "Warning in README.rmd example code"
[code]

[2018-09-04 08:47] petermeissner commented on #30
with rebuild problems did not show up

[2018-09-04 08:47] #30 closed

[2018-09-04 08:50] petermeissner commented on #27
**Question 2:** Yes, subdomains are ok, robots.txt files can be expected for each subdomain. -- **closed**

[2018-09-04 09:03] petermeissner commented on #27
**Question 1**

*in general*
- The package will follow redirects (as does my browser, as does googlebot, as is common web standard).
- Redirects should be ok.

*particular example with github.io*
- The request for `https://github.io/robots.txt` is redirected to `https://pages.github.com/` but not `https://pages.github.com/robots.txt`.
- One could argue that here Github fails to make a proper redir

[2018-09-04 10:09] dmi3kno commented on #27
I think we should be a bit more forward leaning and not rely on redirect taking us to a new robots.txt.  Redirect only indicates "change of scope" for searching for valid robots.txt file. You get the new domain/subdoman and resume normal search for robots.txt as you would have done if user initially said `pages.github.com`.

More importantly, we need to check for permissions BEFORE redirecting. Ta

[2018-09-04 15:15] dmi3kno commented on #27
**Question 3.** Very little is required for robots.txt to be considered "valid". This, however, does not mean the file is serving its purpose. Most of the subdomain robot.txt files on github.com are empty (contain only sitemap reference. education.github.com/robots.txt is just a placeholder that was never activated (rules are defined but commented away).

I think there's a need to distinguish the

[2018-09-04 20:07] petermeissner commented on #27
**Question 3:**

0. *very little is required* ... yes, and we if it's any kind of valid robots.txt file (including empty files and files that only have a sitemap) than that is exactly the rule we should use - the rules are quite clear on that
1. ***robots.txt is 404 / missing*** - no file, no restrictions
2. ***robots.txt is present but not "full-fledged"*** - no rules, no restrictions (there are

[2018-09-04 20:52] dmi3kno commented on #27
Lets take some action towards rejecting non-robots.txt response  and consider Question 3 closed then.

at least 3 of these scenarios will return some sort of error. Can we use some error handling inside `paths_allowed` to suppress red messages to the user? Generally speaking `paths_allowed` calls `get_robotstxt` behind the scenes. Maybe we should have like a `verbose` argument to reduce the amount

[2018-09-05 08:08] petermeissner opened #31 "verbosity (minor redesign)"
Make `get_robotstxt(..., verbose = FALSE)` and `paths_allowed(..., verbose = FALSE)` verbose but tuning verbosity out by defaulting to set parameter verbose to FALSE.

[2018-09-05 08:12] petermeissner opened #32 "improve validity check for robots.txt files"
At the moment robotstxt does very basic checking of validity (can the file be parsed or not).

Standard files like HTML, (JSON, XML, ...) that might be parsable but clearly no robots.txt to the human eye should be rejected as well.

If verbosity is turned on robotstxt should inform user about rejects.

[2018-09-05 08:17] petermeissner opened #33 "special handling of redirects"
In case of redirects to other domains instead of just assuming the returned data is the requested robots.txt file robotstxt should try to get the robots.txt file for that new domain:

Example:

- GET github.io/robots.txt -> redirects to -> page.github.com
- check for redirect to new domain?
- yes: GET page.github.com/robots.txt
- no: use result of redirect for robots.txt parsing and checking

[2018-09-05 08:18] petermeissner commented on #27
**Some actions we can take ...**

- verbosity: https://github.com/ropensci/robotstxt/issues/31
- robots.txt file validity check: https://github.com/ropensci/robotstxt/issues/32
- redirects: https://github.com/ropensci/robotstxt/issues/33

[2018-09-05 08:29] petermeissner commented on #27
yes and no ....

- permission checking should be done before requesting a resource
- redirects should simply be followed (it's not our decision really but the server asking us to look somewhere else we just do what we have been told; besides implementing it would make thing more complicated by something like factor 3 or 4)
- *"we need to resume search for robots.txt"* in case of redirecting to ano

[2018-09-14 20:29] petermeissner commented on #31
- `get_robotstxt()` now assumes encoding = "UTF-8" if not specified by user otherwise
- `paths_allowed()` has option warn = TRUE which, if set to FALSE make all warnings go away

I think this should cover most of the blabla coming out of the functions @dmi3kno something else otherwise I will close this?

[2018-09-16 19:48] #31 closed

[2018-11-07 02:19] matbmeijer commented on #27
Hi, as the discussion follows along the topic of URL redirect and, taking into account the performance penalty of GET, I believe you could use HEAD REST methods to see if the URL itself redirects. This is much more lightweight that GET. Just adding this because I think it could be helpful. There is a great post about this in [StackOverflow](https://stackoverflow.com/questions/21680643/i-would-like

[2018-11-07 08:42] petermeissner commented on #27
Thanks for the hint and the link.

@matbmeijer :
Do you think that this will really make much of a difference - do you have an example? The difference should only be in download time of the actual content returned - right - GET does get the content while HEAD does not? The file retrieval is cached anyways so it will always be done only once per R session.

[2018-11-07 12:17] petermeissner commented on #27
@matbmeijer : Also, I really have to get the file anyways (in most cases) - it is not just about checking for redirection.

[2018-11-19 09:22] petermeissner commented on #33
*Info:* Dev branch for this feature is: 'redirects' (https://github.com/ropensci/robotstxt/tree/redirects)

[2018-11-19 09:38] petermeissner commented on #32
*Info:* Dev branch for this feature is: 'redirects' (https://github.com/ropensci/robotstxt/tree/redirects)

[2018-11-19 09:43] #32 closed

[2018-11-19 09:45] #33 closed

[2018-11-19 09:46] #27 closed

[2018-11-19 10:21] petermeissner opened #34 "Test cases for new features in redirects"
**tests and testing needed for...**
- [ ] general HTTP interaction
- [ ] server error
- [ ] client error
- [ ] not found
- [ ] redirects
- [ ] domain change
- [ ] file type mismatch
- [ ] suspect file content

[2018-11-19 11:48] petermeissner opened #35 "Solve "Skipped: 2" tests"
![image](https://user-images.githubusercontent.com/939139/48705443-6d6c5380-ebf9-11e8-93ae-a1deb082b726.png)

[2018-11-19 11:52] petermeissner opened #36 "Check if attributes are handled correctly in get_robotstxt"
In `get_robotstxt()` ...

[code]

does this actually work?

[2018-11-22 20:23] petermeissner opened #37 "Domain change from 2nd-Level Domains to 'www.' quite common"
... how to handle?

This should be ok?.

[2018-11-22 20:24] petermeissner opened #38 "Change from HTTP to HTTPS Is Common Practice"
... how to handle?

Most likely simply ignoring it is the best way to go.

[2018-11-23 21:34] petermeissner commented on #35
Nah, it's ok, it's working - false alarm the tests are spawned by a loop and get mis-classified as skipped.

[2018-11-23 21:34] #35 closed

[2018-11-23 21:38] petermeissner opened #39 "problem info for on_redirect is not informative"
[code]

.... should be something like ...

[code]

[2018-11-23 21:42] petermeissner opened #40 "problem info for on_domain_change is not informative enough"
[code]

[2018-11-23 22:49] petermeissner commented on #38
Schema is completely ignored by package.

[2018-11-23 22:49] #38 closed

[2018-11-23 23:06] petermeissner opened #41 "improve test coverage"
See: https://codecov.io/gh/ropensci/robotstxt/tree/redirects/R

![image](https://user-images.githubusercontent.com/939139/48962179-d4349880-ef7c-11e8-8755-f0a5ed2d01bf.png)

[2018-11-27 09:27] #37 closed, assigned to nobody

[2018-11-27 09:30] petermeissner opened #43 "release 0.7.x"
The next version of robots.txt should be released to CRAN.

[2018-11-27 13:39] petermeissner commented on #41
Ah, great thanks for chiming in - I did not know that ... I always browse through the coverage table at codecov.io - ✔️ another tool in the toolbox.

[2018-11-27 14:03] petermeissner commented on #43
**version 0.7.x**

While previous releases were concerned with implementing parsing and permission checking and improving performance the 0.7.x release will be about robots.txt retrieval foremost. While retrieval was implemented there are corner cases in the retrieval stage that very well influence the interpretation of permissions granted.

# Features and Problems handled:
- now handles corner ca

[2018-12-17 05:08] petermeissner commented on #41
![image](https://user-images.githubusercontent.com/939139/50067646-23f43180-01c2-11e9-82b5-a03f6257086d.png)

Looks much better now. 🎉

[2018-12-17 05:10] petermeissner opened #44 "test that caching works"

[2018-12-17 05:10] petermeissner opened #45 "test that file overwrite works"

[2018-12-26 06:38] petermeissner commented on #45
- still issues on f80904a509429b2b273bcec5c8398771bb3814ae
- e.g. "github.com" versus "https://github.com"

[2018-12-26 13:59] petermeissner opened #46 "fine tune messaging and warnings"

[2018-12-28 15:31] petermeissner opened #47 "Event on_redirect resulting in bad behaviour"
[code]

versus

[code]

[2018-12-28 15:33] petermeissner commented on #41
- tests for:  `print_robotstxt_text.R`

[2019-01-08 18:03] nacnudus opened #48 "GOV.UK Crawl-delay"
Hi, thank you for this very handy package, which I learned about via https://github.com/dmi3kno/polite/.

I think there might be bug in the way `Crawl-delay` is parsed.  Here is GOV.UK's [`robots.txt`](https://www.gov.uk/robots.txt)

[code]

Which `robotstxt` interprets as a `Crawl-delay` of 10 for everyone.

[code]

My interpretation is that no delay is specified for the `*` user-agent, and there

[2019-01-09 13:47] petermeissner commented on #48
Thanks for reporting - confirmed with newest version of package.

[2019-01-09 14:15] petermeissner commented on #48
**The robots.txt file is broken, the parser is right.**

See example here: https://support.google.com/webmasters/answer/6062596?hl=de&ref_topic=6061961

**Rules:**

- robots.txt files consist of blocks.
- blocks are separated by empty newlines
- blocks can have more than one `User-agent:` entry

**This way it would work:**

[code]

➡️ **I am note sure I can do anything about files not conforming t

[2019-01-09 14:20] dmi3kno commented on #48
@nacnudus looks like you need to file this issue with https://github.com/alphagov

[2019-01-09 14:40] nacnudus commented on #48
@petermeissner There seem to be conflicting standards.  [Google's guidance](https://developers.google.com/search/reference/robots_txt) is that blank lines are optional, so there are probably many other files out there without blank lines.

[W3C](https://www.w3.org/TR/html4/appendix/notes.html#h-B.4.1.1) doesn't require empty lines, but doesn't permit them within records.

Three standards on robots

[2019-01-09 15:35] petermeissner commented on #48
I agree on the conflicting part.

I am not sure though how it is possible to have multiple user-agents per record without using empty lines as delimiter. 😕 ❓ ... seems underdetermined to me or simply an error on googles part.

All other references I find mention  that empty lines are not allowed within records/blocks and but can be used before user-agent entries to separate blocks.

[2019-01-09 15:40] petermeissner commented on #48
also https://stackoverflow.com/questions/20294485/is-it-possible-to-list-multiple-user-agents-in-one-line

[2019-01-09 15:42] petermeissner commented on #48
I think there can be a solution that will still work with 'sloppy' delimited and multi-user-agent records ...

[2019-01-09 17:18] #48 closed

[2019-01-09 17:20] petermeissner commented on #48
With version 0.7.1 (the current head on master) this should work.

@nacnudus please try out 💯

[2019-01-09 17:33] nacnudus commented on #48
@petermeissner Brilliant, thank you!  Fwiw a fix is also in progress on GOV.UK.

[2019-02-02 12:42] #41 closed

[2020-05-01 09:14] mine-cetinkaya-rundel opened #50 "paths_allowed gives error if www is included in URL"
See reprex below:

[code]

<sup>Created on 2020-05-01 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

It looks like the issue is related to httr and it's quite likely it's possible [this PR](https://github.com/r-lib/httr/pull/620) might fix it, but I'm not sure.

[2020-05-01 21:01] petermeissner commented on #50
Thanks for reporting.
I have not checked what is going in any depth, but I tried the PR you linked and it makes the error vanish.
I have to look into this.

[2020-05-01 21:22] petermeissner commented on #50
So, its {httr} not being very forthcoming ...

- using `www.google.com` it will break since the protocol (http or https) is not specified
- using `google.com` will not break despite the protocol not being specified

... I would expect both to work or neither.

Checking the linked pull request and the comments I expect the issue to be resolved within httr so there I will do no changes in robotstxt.

[2020-05-02 21:16] petermeissner commented on #50
their will be no httr release in near future ... so I am working on a workaround within robotstxt

[2020-05-02 21:31] mine-cetinkaya-rundel commented on #50
Thank you!

[2020-05-04 16:27] petermeissner commented on #50
@mine-cetinkaya-rundel could you please check if the latest dev version works for you.

[2020-05-04 22:20] mine-cetinkaya-rundel commented on #50
@petermeissner It works, thank you! Though I do get warnings.

[code]

<sup>Created on 2020-05-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-05-07 20:12] petermeissner commented on #50
That's weird, I cannot reproduce the warning on my Windows machine - neither with R 3.6.2 nor with R 4.0.0 (fresh install). Can you spot a difference, do you have an idea?

[code]

<sup>Created on 2020-05-07 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-05-09 22:44] mine-cetinkaya-rundel commented on #50
I have the following in my `.Rprofile`:

[code]

If you have `warnPartialMatchArgs` set to `NULL`, this might be the reason for the difference.

[2020-05-17 08:31] #44 closed

[2020-05-29 20:38] #45 closed

[2020-05-29 20:38] #46 closed

[2020-05-29 20:39] petermeissner commented on #47
fixed

[2020-05-29 20:39] #47 closed

[2020-05-29 20:41] petermeissner opened #51 "Partial matching warnings"
@petermeissner It works, thank you! Though I do get warnings.

[code]

<sup>Created on 2020-05-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

_Originally posted by @mine-cetinkaya-rundel in https://github.com/ropensci/robotstxt/issues/50#issuecomment-623738489_

[2020-05-29 20:41] petermeissner commented on #50
fixed

[2020-05-29 20:46] petermeissner commented on #51
This is due to `spiderbar::can_fetch()` and its usage of `rep_path_allowed()`

[code]

[2020-05-29 20:58] petermeissner commented on #51
pull request submitted to {spiderbar}

[2020-05-29 20:58] #51 closed

[2020-05-29 21:08] #43 closed

[2020-05-29 21:08] petermeissner commented on #43
done

[2020-05-30 15:36] hrbrmstr commented on #50
_"thanks, package spiderbar_0.2.3.tar.gz is on its way to CRAN."_ 🎉

[2020-06-11 21:47] dmi3kno opened #53 "Save cached/normal as attribute"
As mentioned [on Twitter](https://twitter.com/dmi3k/status/1271191006302613504?s=20), you are making a check if cached version of robotstxt exists, but you never write this property into the object.
https://github.com/ropensci/robotstxt/blob/41a1912939b37a6b596bf27e2166b41d816cdaa3/R/get_robotstxt.R#L62-L88
Could we please save/update it in the request object? I want to be able to tell whether I h

[2020-06-13 18:26] petermeissner commented on #53
Sounds good -will do.

[2020-06-13 19:51] petermeissner commented on #53
@dmi3kno Can you check if changes in https://github.com/ropensci/robotstxt/commit/e6cf2a23e99971d2045e0022549a1314361e4539 work for you or are there still things missing?.

[2020-06-17 20:00] #53 closed

[2020-06-17 20:21] dmi3kno commented on #53
I see you closed it. I tested and if looks good thanks!
I rely on this functionality in my package now. I push to CRAN after you push to CRAN.

[2020-07-15 16:32] steffilazerte opened #55 "Case-sensitive robots.txt results in incorrect crawl delay"
I'm trying to use the [polite](https://github.com/dmi3kno/polite) package for, well, polite, web-scraping. On problem I've run into is that it uses the robotstxt values for the crawl-delays, but in this specific example, it ends up with a crawl delay of 2000 (using the first line with *), which doesn't actually match the robots.txt values.

[code]

I think the problem is that one of the User-agent

[2020-07-15 16:59] steffilazerte commented on #55
Good reference! Specifically: https://developers.google.com/search/reference/robots_txt?hl=en#file-format

But that still assumes that my interpretation of the problem (that's it's due to case-sensitivity) is correct (and I'm not sure of that)! :grin:

[2020-07-21 20:49] petermeissner opened #57 "Guess domain name with hyphen(s) correctly"
Hi! In v0.7.7, robotstxt:::guess_domain("www.some-domain.com") returns www.some, also when prefixing http(s):// or suffixing /some/path/index.html.

see: https://github.com/ropensci/robotstxt/pull/56

[2020-07-22 08:38] petermeissner commented on #57
to make the regex in `parse_url()` more general ...

... instead of (allowing hyphens) ...
[code]

... use (only disallowing slashes):
[code]

[2020-07-22 09:04] #57 closed

[2020-07-22 11:23] #55 closed

[2020-07-26 12:31] gittaca opened #58 "Improve validity check: treat error messages as invalid"
When using a `try(robotstxt::get_robotstxt("domain.tld"))` expression to enable skipping over curl or SSL errors, I'm running into the problem that a subsequent `is_valid_robotstxt(data$get_robotstxt_output)` check treats the error message that was saved, as a valid robots.txt.

To reproduce:

[code]

Would it make sense to explicitly `grepl` for `([Dd]is)?allow:` and `User-agent:` in [is_valid_ro

[2020-07-27 05:58] petermeissner commented on #58
Hmmmm,...

1.) Don't. "Enable skipping over SSL errors" should not be a task laid upon the shoulders of robotstxt. It's not build for this and will not.
2.) robotstxt::get_robotstxt() does, in your case, not even return a robots.txt file - function execution stops due to the error. So why would you test the error message for validity. It only makes sense to test what was returned by get_robotstxt(

[2020-07-28 04:47] gittaca commented on #58
True, but on the other hand, it shouldn't abort an analysis run over many domains either ;-) I'm already using [`warn = FALSE` and `ssl_verifypeer = 0`](https://gitlab.com/gittaca/roabots/-/blob/a9dfcdcd0c88a3a1160721eb2efd2f0c500ce623/R/download_robots_txt.R#L4-6), but my analysis still aborts.

As I mentioned, [I'm wrapping it in a `try(…)` to save the raw output into another column](https://git

[2020-07-28 05:10] gittaca commented on #58
PS `3.)`: The RFC has a `3.3 Formal Syntax` section which specifies:

    agentline    = "User-agent:" *space agent  [comment] CRLF
    …
    disallowline = "Disallow" ":" *space path [comment] CRLF
    allowline    = "Allow" ":" *space rpath [comment] CRLF

It's in [Backus–Naur form](https://en.wikipedia.org/wiki/Backus%E2%80%93Naur_form) which I am not sure how to convert to a reg-ex, but becaus

[2020-07-28 19:06] petermeissner commented on #58
I am sorry for your frustration.

But.

- Your error stems from curl.
- curl is not able to resolve the url.
- Therefore it cannot get any robots.txt file so it errors.
- robots.txt does not know how to handle this error either. Because from the point of permission checking this is undefined territory. Should we assume no robots.txt file exists so everything is fair game? Should we assume everythi

[2020-07-28 19:33] petermeissner commented on #58
I do not think so. [They specification allows for extensions](https://www.robotstxt.org/norobots-rfc.txt):

[code]

[2020-07-30 10:03] gittaca commented on #58
Thanks for pointing out `purr::possibly`!

Still, it's besides the point I'm trying to make. Me wrapping `get_robotstxt` or catching `curl` errors in some suboptimal way does not matter here. That's just context info to this issue.

About `extension`s: yes, sensible ones like `Sitemap` should be matched, of course. However, you're surely not suggesting that `Error in …::…` is a sensible `robots.tx

[2020-07-30 18:55] petermeissner commented on #58
Sure, let's get back to is_valid_robotstxt() which hopefully returns TRUE if something is a valid robots.txt and FALSE if it is not.

- First, let's not focus on implementation details (my super clever 'too lax reg-ex' is not to made fun of unless there is a reasonable, valid and robust alternative 🤓 ). Implementation details can be changed if need be but only if we know to what they should be cha

[2020-07-30 19:04] petermeissner commented on #58
Side note ...

Jip. But if there are several distinct problems within one issue chances are high several problems will be discussed in whatever order instead of the most central to the problem or the one one might be most interested in.

🤷

[2020-08-02 19:57] petermeissner commented on #58
I will push a fix for the problem. It will check that ...

- **special characters are forbidden for field names**: `( ) < > @ , ; : \ < > / [ ] ? = { } SP HT`
- **but it will not check the ASCII requirement** by default (it turns out that Wikipedia does use UTF-8 encoded URLs in its robots.txt file) which makes me very hesitant to be too strict on this spec in the RFC (proposal). Also the Google s

[2020-08-02 20:23] #58 closed

[2020-08-19 20:10] petermeissner opened #60 "Parsing would fail for comment in last line"
**robots.txt example:**

[code]

**`-->` Error:**

[code]

See PR: https://github.com/ropensci/robotstxt/pull/59

[2020-08-19 20:36] #60 closed

[2020-08-20 05:46] gittaca commented on #60
Ah-ha! Thanks :-)

[2021-08-13 05:10] fishinges commented on #55
My website is [www.fishinges.com](https://fishinges.com/). I have done on page and currently working on off page activitites like article submission, bookmarking, image submision classified submission and more from 5 month but yet not rank and no traffic my website. My robots file is
https://fishinges.com/robots.txt
User-agent: *
Crawl-Delay: 20
I am not understand whats happend to my website.

[2022-10-03 10:08] maelle opened #62 "New Maintainer Wanted :-)"
Or new maintainer team. :smile_cat:

If you're interested, please comment in the issue.
For more info, see
- [our guidance on Changing package maintainers](https://devguide.ropensci.org/changing-maintainers.html);
- [our Package Curation Policy](https://devguide.ropensci.org/curationpolicy.html).

[2022-10-06 08:53] maelle commented on #62
@ropensci/admin

[2022-11-02 20:51] pedrobtz commented on #62
I would like to contribute 👋

[2022-11-07 08:35] maelle commented on #62
Thanks a ton @pedrobtz!

I've sent you an invitation to the GitHub organization and to a team with admin access with this repository.
Note that you'll need to have enabled two-factor authentication for your GitHub account, see https://ropensci.org/blog/2022/05/16/requiring-2fa-for-the-ropensci-github-organization/

Please ping me (on GitHub, or `maelle@ropensci.org`) if you have any question.
You

[2022-11-08 10:27] #62 closed